
<div *ngIf=" ! showPostEditForm " class="card post">
  <div class="card-block">
    <table>
      <tr>
        <td width="1%">
          <img *ngIf=" post.user?.url_primary_photo " src="{{ post.user.url_primary_photo }}"
          style=" width: 40px; height: 40px; border-radius: 50%; ">
        </td>
        <td>
          <h4 class="card-title" [class.deleted]=" post.deleted" >{{ post.title }}</h4>

          <h6 class="card-subtitle mb-2 text-muted">
            {{ post.idx }}
            <span *ngIf=" ! post.deleted ">{{ post.user?.name }}</span>
            </h6>
        </td>
      </tr>
    </table>

      <p class="card-text rounded bg-lightgrey p-3" [innerHTML]=" sanitize(post) "></p>


      <div class="files clearfix" *ngIf=" post.files ">
        <div class="w-25 float-left" *ngFor=" let file of post.files ">
          <img [src]=" file.url + '&crop=200x100x70'" style="width: 100%;">
        </div>
      </div>
    
      <div *ngIf=" ! post.deleted " class="buttons">




        
        <span *ngIf=" myPost " class="card-link" (click)=" onClickEdit() ">Edit</span>

        <span *ngIf=" showPostDeletePasswordForm ">
          <input #password>
          <button type="button" class="btn btn-danger" (click)=" onClickDeleteAnonymous( password.value ) ">Delete</button>
        </span>
        <span *ngIf=" myPost && ! showPostDeletePasswordForm " class="card-link" (click)=" onClickDelete( ) ">Delete</span>
        
        <span class="card-link" (click)=" showCommentForm = !showCommentForm ">Reply</span>
        <span class="card-link" (click)=" onClickLike('G') ">Like({{ post.vote_good }})</span>
        <span class="card-link" (click)=" onClickLike('B') ">Dislike({{ post.vote_bad }})</span>
        <span (click)=" onClickReport() " class="card-link">Report({{post.report}})</span>
      </div>

  </div>
</div>

  <post-form-basic
    *ngIf=" showPostEditForm "
    [post] = " post "
    (cancel) = " showPostEditForm = false "
    (edit) = " showPostEditForm = false; "
  ></post-form-basic>






<comment-form-basic
  *ngIf = " showCommentForm "
  [post] = " post "
  [list] = " list "
  [parent_idx]=" post.idx "
  (create) = " showCommentForm = false "
  (cancel) = " showCommentForm = false "
></comment-form-basic>
