<div class="form-files clearfix">
    <div class="file w-25 float-left" *ngFor=" let file of files "
        style="position: relative;">

        <div (click)=" onClickDeleteFile( file ) "
            class="p-2 bg-primary" style="position: absolute; left: 2px; bottom: 2px;">
            X
        </div>

        <img style="width: 100%" src="{{ file.url + '&crop=100x100x70' }}">
    </div>
</div>

<div class="form-group">
    <label for="file-box">Upload Photos</label>
    <div *ngIf=" percentage " class="progress mb-2">
        <div class="progress-bar" role="progressbar" [style.width]=" percentage + '%' ">{{ percentage }} %</div>
    </div>

    <input type="file" class="form-control-file" id="file-box" #file (change)="onChangeFile(file)">
    <small class="form-text text-muted">Please select a photo to upload</small>
</div>

